body {
  margin: 0;
}
* {
  outline: none;
}

.todo-list-container {
  text-align: center;
  width: 60%;
  border: 1px solid gray;
  margin-left: 20%;
  margin-top: 5%;
}

.todo-input {
  width: 500px;
  height: 25px;
  margin-right: 20px;
}

.todo-add-btn {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: lightgray;
}
